{% extends "layout.njk" %}

{% block content %}

<div id="wrapper">
  <img src="/eu.jpeg" alt="Marcos Henrique">
  <h1>Marcos Henrique</h1>
  <h2>Estudante na <a target="_blank" href="https://rocketseat.com.br">Rockteseat</a></h2>
  <p>Programador full-stack focado em compartilhar conhecimento e aprender</p>
</div>

<div id="links-footer" class="links">
  <a target="_blank" href="https://github.com/robotica-desafios">Github</a>
  <a target="_blank" href="https://www.youtube.com/channel/UC3ZaLCltfI-34EQaZmWFaeg?view_as=subscriber">Youtube</a>
  <a target="_blank" href="https://www.linkedin.com/in/marcos-henrique-1692681a0/">Linkedin</a>
</div>


{% endblock %}