<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Marcos Henrique</title>


  <link rel="icon" href="/eu.jpeg" type="image/jpeg" />
  <link rel="stylesheet" href="/styles.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Materual+Icons">

</head>
<body>

  <header>
    <div class="links">
    <a href="/">Sobre</a>
    <a  href="/class">Vídeos</a>
    </div>
  </header>

  {% block content %}

  {% endblock %}

</body>
</html>